<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.helper" />

	<bean class="org.apache.http.HttpHost">
		<constructor-arg name="hostname" value="127.0.0.1" />
		<constructor-arg name="port" value="8888" />
	</bean>

	<bean class="org.apache.http.conn.scheme.SchemeRegistry"></bean>
	
</beans>
